.upcoming-films {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

.button {
    display: inline-block;
    background-color: lightcyan;
    padding: 10px;
    margin: 10px;
}

.button:hover, .button:active {
    background-color: lightblue;
    text-decoration: none;
}